
.itmBckg{
    background-image: url('../../picture/background/market.jpg');
}
.itemList{
    width:95vw;
    margin:4vh auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.itemCard{
    border-radius:10px;
    width:15vw;
    margin:2vh 2vw;
    text-align: center;
    padding:1vh 1vw

}

.itemCard h1{
    color:#fbb829;
}


.itemCard p{
    text-align:left;
}

.locationSpan{
    display:block;
    text-align:left;
    
}

.priceSpan{
    font-size:2rem;
}

.imgContainer{
    min-height:8rem;
    min-width:12rem;
}

.itemImg{
    min-height:8rem;
    min-width:12rem;
    border: solid #fbb829 2px;
    
    
}

.hideBorder{
    min-height:8rem;
    
    border:none;
}



img{

    max-width:12rem;
    min-height:6rem;
    height:auto;
    width:auto;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1.5rem;
    
}





@media(max-width:888px){
    .itemCard{
        width:55vw;
    }
}
@media(max-width:642px){
    .itemCard{
        width:55vw;
    }
}